
 <!-- <h2 ng-if="NumEventi[0] == '0'">Non ci sono Eventi per oggi</h2> -->

     <div class="agenda">
        <div class="col-lg-12">
            <div class="row day" ng-repeat="giorno in giorni">

                <!-- Giorno -->
                <div class="col-md-4 agenda-date">
                            <div class="dayofmonth" ng-class="{ festivo: giorno.isWE}">{{giorno.Day}}</div>
                            <div class="dayofweek" ng-class="{ festivo: giorno.isWE}">{{giorno.wDay}}</div>
                            <div class="shortdate text-muted">{{giorno.Month}}, {{giorno.Year}}</div>
                </div>

                <!-- Eventi -->
                <div class="col-md-8">
                    <div class="row event" ng-repeat="evento in giorno.eventi">
                    
                        <div class="col-md-3 agenda-time" ng-hide="giorno.isWE">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{evento.start.Time}} - {{evento.end.Time}}
                        </div>
                        <div class="col-md-3 agenda-time" ng-show="giorno.isWE">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> All Day
                        </div>

                        <div class="col-md-6 agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                    {{evento.summary}}
                                </div>
                        </div>   
                    </div>        
                </div>


            </div>
        </div>
    </div>



