    <!-- Sezione lista Sensori -->
    <div class="container">
        <div class="row row-content">       
            <h1> Configurazione Sensori <small> Lista sensori censiti</small></h1>
            <table class="table table-condensed table-hover">
                <thead>
                    <th class="myTagCrossDelete"></th>
                    <th>Modello</th>
                    <th>Sito</th>
                    <th>Tipo</th>
                    <th>Tracciatura</th>
                    <th>Ultima Lettura</th>
                    <th>Ultimo Aggiornamento</th>
                 
                </thead>
                <tbody>
                    <tr ng-repeat="sensore in sensori" ng-click="selectSensor()">
         <!--             <td class="myTagCrossDelete" id={{sensore._id}} ><span class="glyphicon glyphicon-remove" aria-hidden="true"  ng-click="cancellaSensore()"></span></td> -->
                      <td class="myTagCrossDelete"><button class="btn btn-danger btn-xs" 
                                  data-toggle="confirmation" 
                                  data-placement="right" 
                                  title="Cancellare?" 
                                  id={{sensore._id}}
                                  ng-click="cancellaSensore()">Elimina</button>
                      </td>
                      <td>{{sensore.Modello}}</td>
                      <td>{{sensore.Sito}}</td>
                      <td>{{sensore.Tipo}}</td>
                      <td>{{sensore.TracciaStoria}}</td>
                      <td>{{sensore.ultimaLettura}}</td>
                      <td>{{sensore.dataUltimoAggiornamento}}</td>
                      
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Sezione pulsanti di controllo -->
        <div class="row row-content">
          <div class="text-right">

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger myTagButtonRegular" ng-click="showCross()">Cancella</button>
              <button type="button" class="btn btn-primary myTagButtonRegular" ng-click="aggiungiNuovoSensore()">Aggiungi</button>
            </div>

            <button type="button" class="btn btn-warning myTagButtonDelete" ng-click="fatto()">Fatto</button>
          </div>
        </div>

        <!-- Sezione dettaglio sensore selezionato -->
        <div class="row row-content" id="dettaglioSelezionato">  
          <h2>Dettaglio Sensore {{sensore.Modello}}</h2> 

          
        <div class="row row-content">
          <div class="col-md-5">
            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Modello</label>
              <div class="col-sm-6">{{sensore.Modello}}</div>
            </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Sito</label>
              <div class="col-sm-6">{{sensore.Sito}}</div>
            </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Tipo</label>
              <div class="col-sm-6">{{sensore.Tipo}}</div>
            </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Traccia Storia</label>
              <div class="col-sm-6">{{sensore.TracciaStoria}}</div>
            </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Ultima Lettura</label>
              <div class="col-sm-6">{{sensore.ultimaLettura}}</div>
            </div>
          </div>

          <div class="col-md-5">
              <div class="row row-content">
                  <i>{{sensore._id}}</i>
              </div>

              <div class="row row-content">
              </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Data Inserimento</label>
              <div class="col-sm-6">{{sensore.dataInserimento | date :  "dd.MM.y" }}</div>
            </div>

            <div class="row row-content">
              <label for="Modello" class="col-sm-4 control-label">Ultima Modifica</label>
              <div class="col-sm-6">{{sensore.dataUltimaModifica | date :  "dd.MM.y"}}</div>
            </div>

          </div>

            <div class="col-md-2">

              <div class="btn-group-vertical">
                  <button type="button" class="btn btn-primary" ng-click="recuperoUltimeLetture()">Letture</button>
                  <button type="button" class="btn btn-warning" ng-click="modificaDettaglioSensore()">Modifica</button>
              </div>
                
            </div>

          </div>

          <div class="row row-content" id="dettaglioLettureSensore">
              <h3>Dettaglio letture ultimo periodo</h3>

              <table class="table table-condensed">
                  <thead>
                      <th>Data Inserimento</th>
                      <th>Data Ultimo Aggiornamento</th>
                      <th>Lettura</th>
                  </thead>
                  <tbody>
                      <tr ng-repeat="lettura in letture">
                        <td>{{lettura.Letture.DataPrimoInserimento}}</td>
                        <td>{{lettura.Letture.DataUltimoAggiornamento}}</td>
                        <td>{{lettura.Letture.lettura}}</td>
                      </tr>
                  </tbody>
              </table>

          </div>


        </div>

        <!-- Sezione inserimento nuovo sensore -->
        <div class="row row-content" id="inserimentoNuovoSensore">  
          <h2>Inserimento nuovo sensore</h2> 

          <div class="col-md-6">
              <form class="form-horizontal" name="nuovoSensore" ng-submit="inserisciNuovoSensore()" novalidate>

                  <div class="form-group" ng-class="{ 'has-error' : nuovoSensore.sensore.Modello.$error.required && !nuovoSensore.sensore.Modello.$pristine }">
                    <label for="Modello" class="col-sm-2 control-label">Modello</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Modello" name="Modello" placeholder="Scegliere nome modello" ng-model="nuovoSensore.sensore.Modello" required>
                      </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : nuovoSensore.sensore.Sito.$error.required && !nuovoSensore.sensore.Sito.$pristine }">
                    <label for="Sito" class="col-sm-2 control-label">Sito</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Sito" name="Sito" placeholder="Dove si trova il sensore?" ng-model="nuovoSensore.sensore.Sito" required>
                      </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : nuovoSensore.sensore.Tipo.$error.required && !nuovoSensore.sensore.Tipo.$pristine }">
                    <label for="Tipo" class="col-sm-2 control-label">Tipo</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Tipo" name="Tipo" placeholder="Che tipo di sensore e'?" ng-model="nuovoSensore.sensore.Tipo" required>
                      </div>
                  </div>

                

                <div class="form-group row">

                    <label for="TracciaStoria" class="col-sm-2 control-label">Tracciatura</label>
                      <div class="col-md-3">
                          <input type="checkbox" class="form-control" id="TracciaStoria" name="TracciaStoria" ng-model="nuovoSensore.sensore.TracciaStoria" bootstrap-switch>
                      </div>



                    <label for="DeltaVariazioneTraccia" class="col-sm-2 control-label">Delta</label>
                      <div class="col-md-5">
                          <input type="number" 
                                 class="form-control" 
                                 placeholder="Delta Variazione" 
                                 ng-model="nuovoSensore.sensore.DeltaVariazioneTraccia" 
                                 ng-disabled="!nuovoSensore.sensore.TracciaStoria">
                      </div>
                </div>

                
                  
                   <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="nuovoSensore.$invalid">Inserisci</button>
                            <button type="button"  class="btn btn-warning"  ng-click="pulisciCampi()">Pulisci</button>
                        </div>
                    </div>


                  </div>
              </form>
          </div>
        </div>

    </div>
