   <!-- Sezione lista Sensori -->
    <div class="container">
        <div class="row row-content" id="RowsList">       
            <h1> Lista {{Titolo}} </h1>
            <table class="table table-condensed table-hover" id="RowsListTable">
                <thead>
                    <th>Actions</th>
                    <th ng-repeat="(Lable, Row) in Fields" ng-if="Row == 1">{{Lable}}</th>
                </thead>

                <tbody>
                    
                    <tr ng-repeat="riga in sensori">
                      <td class="myTagButtonInfo">
                        <a ui-sref=".Details({rigaId : riga['_id']})">
                          <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                      </td>
                      <td class="myTagCrossDelete">
                        <button class="btn btn-danger btn-xs"
                                    id={{riga[_id]}}
                                    ng-click="eliminaRiga()"
                                    ng-show="ripristina==0">Elimina
                        </button>

                        <button class="btn btn-warning btn-xs" 
                                    data-toggle="confirmation" 
                                    data-placement="right" 
                                    title="Ripristinare?" 
                                    id={{riga[_id]}}
                                    ng-click="ripristinaConfig()"
                                    ng-show="ripristina==1">Ripristina
                        </button>

                      </td>

                      <td ng-repeat="(Lable, Row) in Fields" ng-if="(Row == 1) && !(Lable == 'dataUltimoAggiornamento')">{{riga[Lable]}}</td>
                      <td ng-repeat="(Lable, Row) in Fields" ng-if="(Row == 1) && (Lable == 'dataUltimoAggiornamento')">
                        {{riga[Lable] | date:"dd/MM/yyyy 'at' H:mm"}}
                      </td>

                    </tr>

                </tbody>
            </table>
        </div>


        <!-- Sezione pulsanti di controllo -->
        <div class="row row-content">
          <div class="text-right">

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger myTagButtonRegular" ng-click="changeStatus(0)">Cancella</button>
              <button type="button" class="btn btn-warning myTagButtonRegular" ng-click="changeStatus(2)" ng-show="Titolo=='config'">Ripristina</button>
              <a ui-sref=".NewRow"><button type="button" class="btn btn-primary myTagButtonRegular" ng-hide="Titolo=='config'">Aggiungi</button></a>
              <a ui-sref=".addNew"><button type="button" class="btn btn-primary myTagButtonRegular" ng-show="Titolo=='config'">Salva</button></a>
            </div>

            <button type="button" class="btn btn-warning myTagButtonDelete" ng-click="changeStatus(1)">Fatto</button>
          </div>
        </div>

        <!-- Spazio dedicato al dettaglio o aggiunta record-->
        <div class="container" id="ExternalWindiows">
            <div ui-view="SensorsDetails"></div>
        </div>
