   <!-- Sezione lista Sensori -->
    <div class="container">
        <div class="row row-content" id="RowsList">       
            <h1> Lista {{Titolo}} </h1>
            <table class="table table-condensed table-hover" id="RowsListTable">
                <thead>
                    <th>Actions</th>
                    <th ng-repeat="(Lable, Row) in Fields" ng-if="Row == 1">{{Lable}}</th>
                </thead>

                <tbody>
                    
                    <tr ng-repeat="riga in sensori">
                      <td class="myTagButtonInfo">
                        <a ui-sref=".Details({rigaId : riga['_id']})">
                          <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                      </td>
                      <td class="myTagCrossDelete"><button class="btn btn-danger btn-xs" 
                                  data-toggle="confirmation" 
                                  data-placement="right" 
                                  title="Cancellare?" 
                                  id={{riga[_id]}}
                                  ng-click="eliminaRiga()">Elimina</button>
                      </td>
                      <td ng-repeat="(Lable, Row) in Fields" ng-if="Row == 1">{{riga[Lable]}}</td>
                    </tr>

                </tbody>
            </table>
        </div>



        <!-- Sezione pulsanti di controllo -->
        <div class="row row-content">
          <div class="text-right">

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger myTagButtonRegular" ng-click="changeStatus(0)">Cancella</button>
              <a ui-sref=".NewRow"><button type="button" class="btn btn-primary myTagButtonRegular">Aggiungi</button></a>
            </div>

            <button type="button" class="btn btn-warning myTagButtonDelete" ng-click="changeStatus(1)">Fatto</button>
          </div>
        </div>

        <!-- Spazio dedicato al dettaglio o aggiunta record-->
        <div ui-view="SensorsDetails"></div>
