[Unit]
Description=Controllo temperatura acquario

[Service]
Type=oneshot
ExecStart=/home/pi/domotica/SensoriAcquario/sensorTempStartUp.sh start
ExecStop=/home/pi/domotica/SensoriAcquario/sensorTempStartUp.sh  stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target