[Unit]
Description=Controllo bottone luci acquario

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/pi/domotica/SensoriAcquario/pushButtonStartUp.sh start
ExecStop=/home/pi/domotica/SensoriAcquario/pushButtonStartUp.sh  stop
ExecReload=/home/pi/domotica/SensoriAcquario/pushButtonStartUp.sh restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target