[Unit]
Description=Recupero informazioni meteo

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/pi/domotica/ImpiantoIrrigazione/getWeatherCondition.sh start
ExecStop=/home/pi/domotica/ImpiantoIrrigazione/getWeatherCondition.sh  stop
ExecReload=/home/pi/domotica/ImpiantoIrrigazione/getWeatherCondition.sh restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target