
   html,body, #DashBoardNavigationSectionWrapper {
        height:100%;
        margin:0;
        padding:0;
    }

    #DashBoardNavigationSectionWrapper {
        position:relative;
        background: #000;
        color : white;
    }
/*
    #iconWarningBarSectionWrapper, #HomeSectionWrapper {
        position:absolute;
    }
*/
    #iconWarningBarSectionWrapper {
        height:30px;
        width:100%;
        background:grey; 
    }
    #HomeSectionWrapper {
        top:30px;
        bottom:50px;
        width:100%;
        background:black;
    }
    #navigationSectionWrapper {
        position: fixed;
        bottom : 0px;
        height:50px;
        width:100%;
        background:grey; 
    }

    #datarioOrologioWrapper{
        height: 50%;
    }
    #googleCalendarWrapper {
        margin-top: 50px;
    }

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    /*border: 3px solid green;*/
}

#tempInternaChartHome {
    margin-top: 30px;
}
	
.arrowsTemp {
  transition: all linear 1s;
}
.arrowsTemp.ng-hide{
  opacity: 0;
}

.arrowChangeTemp, .temperatura {
    height: 25px;
}