 <div class="container">
        <div class="row row-content" id="ModificaSensore">  
        <div class="col-md-11">
          <h2>Modifica sensore {{sensore.Modello}} <small>{{sensore._id}}</small></h2> 
        </div>
        <div class="col-md-1" id="rowAreaIconBar">
          <a ui-sref="app.Config.Sensors.List"><span class="glyphicon glyphicon-remove"></span></a>
        </div>          

          <div class="col-md-6">
              <form class="form-horizontal" name="modificaSensore" ng-submit="applyModSensore()" novalidate>

                  <div class="form-group" ng-class="{ 'has-error' : sensore.Modello.$error.required && !sensore.Modello.$pristine }">
                    <label for="Modello" class="col-sm-2 control-label">Modello</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Modello" name="Modello"
                               ng-model="sensore.Modello" required>
                      </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : sensore.Sito.$error.required && !sensore.Sito.$pristine }">
                    <label for="Sito" class="col-sm-2 control-label">Sito</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Sito" name="Sito" ng-model="sensore.Sito" required>
                      </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : sensore.Tipo.$error.required && !sensore.Tipo.$pristine }">
                    <label for="Tipo" class="col-sm-2 control-label">Tipo</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Tipo" name="Tipo" ng-model="sensore.Tipo" required>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="Datasheet" class="col-sm-2 control-label">Datasheet</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Datasheet" name="Datasheet" ng-model="sensore.Datasheet" required>
                      </div>
                  </div>
                
                  <div class="form-group">
                    <label for="Image" class="col-sm-2 control-label">Image</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="Image" name="Image" ng-model="sensore.Image" required>
                      </div>
                  </div>

                

                <div class="form-group row">

                    <label for="TracciaStoria" class="col-sm-2 control-label">Tracciatura</label>
                      <div class="col-md-3" ng-if="sensore.TracciaStoria">
                          <input type="checkbox" class="form-control" id="TracciaStoria" 
                          name="TracciaStoria" ng-model="sensore.TracciaStoria" 
                          checked bootstrap-switch>
                      </div>

                      <div class="col-md-3" ng-if="!sensore.TracciaStoria">
                          <input type="checkbox" class="form-control" id="TracciaStoria" 
                          name="TracciaStoria" ng-model="sensore.TracciaStoria" 
                          bootstrap-switch>
                      </div>


                    <label for="DeltaVariazioneTraccia" class="col-sm-2 control-label">Delta</label>
                      <div class="col-md-5">
                          <input type="number" 
                                 class="form-control" 
                                 ng-model="sensore.DeltaVariazioneTraccia" 
                                 ng-disabled="!sensore.TracciaStoria">
                      </div>
                </div>

                 <div class="form-group row" >
                   <div ng-repeat="azioni in AzioniControllo">


                      <label for="FunzioneControllo" class="col-sm-2 control-label">Funzione Controllo</label>

                      <div class="col-sm-10">
                        <select class="form-control" ng-model="azioni.FunzioneControllo" ng-change="changeFC(azioni.FunzioneControllo)"  required>
                          <option ng-repeat="azione in azioni.Controller"
                              value="{{azione._id}}">{{azione.NomeProcedura}}</option>
                        </select>
                        <p class="form-text text-muted helpMessage">{{selectedController.Descrizione}}</p>

                        <div class="row" ng-repeat="(ParamK,ParamV) in selectedController.Parametri">
                          <label for="Param" class="col-sm-2 control-label">{{ParamK}}</label>

                          <div class="col-sm-5">
                            <input type="{{ParamV.Tipo}}" min="{{ParamV.Min}}" max="{{ParamV.Max}}" class="form-control" name="{{ParamK}}" required="{{ParamV.Mandatorio}}" value="{{ParamV.Default}}">

                          </div>
                          <div class="col-sm-5">
                            <p class="form-text text-muted helpMessage">{{ParamV.Descrizione}}</p>
                          </div>


                        </div>
                      </div>
                      

                    

                      <button ng-repeat="button in azione.Button" type="button" class="btn {{button}}" ng-click="RimuoviAzioneControllo(azione.idAzione)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                      </button>


                   </div>
                 </div>

                <!--   Aggiunta azione di controllo -->
                <div class="form-group row">
                  <label for="AzioneControllo" class="col-sm-2 control-label">Aggiungi Controllo</label>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-success" ng-click="AggiungiAzioneControllo()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>

                  
                   <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="nuovoSensore.$invalid">Applica</button>
                            <button type="button"  class="btn btn-warning"  ng-click="resetCampi()">Reset</button>
                        </div>
                    </div>


                  </div>
              </form>
          </div>
        </div>
  </div>