.myTagCrossDelete, .myTagButtonDelete {
	display:none;
}

.myTagCrossDelete > .glyphicon {
	color : #999;
}

.myTagCrossDelete > .glyphicon:hover {
    color: red;
}

/*
#inserimentoNuovoSensore, #dettaglioSelezionato, #dettaglioLettureSensore {
	display:none;
}
*/

#dettaglioSelezionato > .row > .col-md-5 > .row > i {
	color: red;
}

.ultimaLettura {
	color: green;
}

#ExternalWindiows {
	margin-top: 15px;
	background-color: #EEEEEE;
}

#inserimentoNuovoSensore, #ModificaSensore, #dettaglioSelezionato {
	margin-left: 15px;
}

#rowAreaIconBar a:hover {
	/*margin-top: 5px;*/
	color: red;
}

.green {
	color: green;
}